.idea
.netrwhist
fzf
.DS_Store
secret-config
audi-config
karabiner/automatic_backups/*
vim/plugged/**
neovim/plugged/**
fish/aliases.fish
fish/local.fish
fish/fish_variables

git/local
utils/

#!utils/switch-to-default-branch
#!utils/notify.swift
#!utils/autolaunch-music

.luarc.json
git/gitconfig-acpp
git/gitconfig-acpp-backend

.config/thefuck/__pycache__/**
