[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/plugged/rust.vim"]
	path = vim/plugged/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/plugged/fzf"]
	path = vim/plugged/fzf
	url = git@github.com:junegunn/fzf.git
