[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "themes/base16-alacritty"]
	path = themes/base16-alacritty
	url = git@github.com:aarowill/base16-alacritty.git
